

html, body {
  font-family: 'Cormorant Garamond', serif;

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
  }

  @media (min-width: 768px) {
  h1 {
    font-size: 3.5rem; /* Example size for md and larger; adjust as needed */
    line-height: 3.5rem; /* Adjust line-height to match */
  }
}
  
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

input {
    font-size: 1rem;
    padding: 1.5rem;
}
textarea {
    padding: 1.5rem;
}

.accentedBg {
  background: linear-gradient(135deg, rgba(139, 69, 19, 0.05), rgba(146, 64, 14, 0.10));
  background-color: rgba(139, 69, 19, 0.05);
}